@import url("https://use.typekit.net/gge0xvh.css");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.app {
  display: flex;
  padding: 30px;
  background-color: #121212;
}

.game{
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  background-color:#000000
  
}

.game img {
  width: 70px;
  height: 70px; 
  
}

.scoreboard {
  font-family: serif;
  text-align: center;
  align-content: center;
}



