

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/gge0xvh.css");

.app {
  display: flex;
  padding: 30px;

}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  background-color:#000000;
  


  
}

.game img {
  width: 70px;
  height: 70px; 
  

  
}

.scoreboard {
  font-family: serif bold;
  text-align: center;
  align-content: center;
  border: 5px solid #FF69B4;
}



