@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://use.typekit.net/gge0xvh.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px dotted #FF69B4; */
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  
  
  
}

.game img {
  width: 70px;
  height: 70px;
  
}

.scoreboard {
  font-family: serif bold;
  text-align: center;
  align-content: center;
  
  
}



